{% extends 'common/base.html' %}
{% load static %}

{% block title %}Homepage Profile{% endblock %}
{% block content %}

    <h1 class="home_h1">Welcome back sushi lover</h1>

    <br>

    <img class="home_img2" src="{% static 'images/homepage-with-profile.png' %}" alt="home page image">

    <br>
    <br>
    <br>

    <div class="buttons">
        <h4><a href="{% url 'sushi create' %}">Do you want to share new sushi?</a></h4>
        <h4>or</h4>
        <h4><a href="{% url 'sushi type create' %}">Have you discovered a new sushi type?</a></h4>
        <h4>or maybe</h4>
        <h4><a href="{% url 'sushi bar create' %}">Found a new sushi bar you want to share?</a></h4>
    </div>

{% endblock %}